<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
   All Events
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1" >
    <li *ngFor="let event of events"><a class="dropdown-item" [routerLink]="['/dashboard/event',event.EventId]" >{{event.EventName}}</a></li>

  </ul>
</div>

<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
   Not Publish Event
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1" >
    <li *ngFor="let event of NotPublishEvent"><a class="dropdown-item" [routerLink]="['/dashboard/event',event.EventId]" >{{event.EventName}}</a></li>

  </ul>
</div>

<app-add-envent></app-add-envent>

