<div class="container-fluid">
	<div class="row justify-content-center">
		<div class="col-12 col-lg-11">
			<div class="card card0 rounded-0">
				<div class="row">
					<div class="col-md-5 d-md-block d-none p-0 box ">
						<div class="card rounded-0 border-0 card1 overflow-auto vh-50" style="height: 100vh;" id="bill">
							<h3 id="heading1">Activities</h3>
							
							<div class="row" *ngFor="let activity of activities">
								<div class="col-lg-7 col-8 mt-4 line pl-4">
                  			<h6 class="bill-head">{{activity.ActivityName}}</h6>
                  <small class="bill-date">{{activity.ActivityDESC}}</small>

								</div>
								<div class="col-lg-5 col-4 mt-4">
                  						<small class="bill-date">{{activity.ActivityStartDateTime}}</small>

									<h2 class="bill-head-to">TO</h2>
									<small class="bill-date">{{activity.ActivityEndDateTime}}</small>
								</div>
							</div>
							
						</div>
					</div>

					<div class="col-md-7 col-sm-12 p-0 box">
						<form [formGroup]="activityInfoForm" (ngSubmit)="OnSubmit()">
						<div class="card rounded-0 border-0 card2" id="paypage">
							<div class="form-card " style="margin-top: 0!important;">
			                    <h2 id="heading2" class="text-danger">{{eventInfo.EventName}}</h2>
			                    <div class="radio-group">
			                        <div class='radio' data-value="credit"><img [src]="'data:image/jpg;base64,' + EventImageBase64DB " width="600px" height="120px"></div>
			                        <!-- <div class='radio' data-value="paypal"><img src="https://i.imgur.com/5QFsx7K.jpg" width="200px" height="60px"></div> -->
			                        <br>
			                    </div>
			                    <label class="pay">Activity Titile</label>
			                    <input type="text" name="holdername" placeholder="John Smith" formControlName="ActivityName">
			                    <label for="exampleFormControlTextarea1" class="pay">Event Description</label>
                          		<textarea class="form-control" id="exampleFormControlTextarea1" formControlName="ActivityDESC"  rows="3"></textarea>
			                    <div class="row">
			                        <div class="col-8 col-md-6">
			                            <label for="inputPassword" class="pay">Start Date</label>
			                            <!-- <input type="text" name="cardno" id="cr_no" placeholder="0000-0000-0000-0000" minlength="19" maxlength="19"> -->
                                  <input class="form-control" id="inputPassword" formControlName="ActivityStartDate" type="datetime-local" placeholder="Create a password" />

			                        </div>
			                        <div class="col-4 col-md-6">
                                <label for="inputPassword" class="pay">End Date</label>
                                <!-- <input type="text" name="cardno" id="cr_no" placeholder="0000-0000-0000-0000" minlength="19" maxlength="19"> -->
                                <input class="form-control" id="inputPassword" formControlName="ActivityEndDate" type="datetime-local" placeholder="Create a password" />
			                        </div>
			                    </div>
			                    <div class="row">
			                        <div class="col-md-12">
			                            <label class="pay">Price</label>
			                        </div>
			                        <div class="col-md-12">
			                            <input type="text" name="exp" id="exp" formControlName="ActivityPrice" placeholder="₹" minlength="5" maxlength="5">
			                        </div>
			                    </div>
			                    <div class="row">
			                        <div class="col-md-6">
			                            <input type="submit" value="Add Activity" class="btn btn-info placeicon bg-dark">
			                        </div><div class="col-md-6">
			                            <input type="button" value="Publish Activity" (click)="OnPublish()" class="btn btn-info placeicon bg-dark">
			                        </div>
			                    </div>
			                </div>
						</div>
					 </form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
